<h2>Filtrar Certificados</h2>

<%= form_tag(filter_certificates_url, :method => :get) do %>


  <% if flash[:error] %>
      <p id="error"><%= flash[:error] %></p>
  <% end %>


  <div class="field">
    <%= select(:certificate, :filter, Certificate.select("course_code").uniq.collect {|c| [c.course_code,c.course_code] }) %>
  </div>
  <div class="actions">
    <%= button_tag "Filter" %>
  </div>

  <% end %>
