<%= form_tag(search_certificates_url, :method => :get) do %>


  <% if flash[:error] %>
      <p id="error"><%= flash[:error] %></p>
  <% end %>


  <div class="field">
    <%= text_field :certificate, :search %>
  </div>
  <div class="actions">
    <%= button_tag "Search" %>
  </div>

<% end %>
