<h1>Validar Certificados</h1>

<%= render 'search_form' %>
<br /><br />
<%= render 'filter_form' %>

<% if @certificates %>
<%= render 'filter_result', :certificates => @certificates %>
<% end %>
<br />
