<div id="wrap" class="hcenter">
    <div id="head">

    </div>
    <div id="content_head">
        <h1 class="hcenter">CERTIFICADO</h1>
    </div>

    <div id="content">
        <p class="hcenter">
<% if @certificate.kind == 'event' %>
    <%= render 'event', :certificate => @certificate, :certifiable => @certifiable %>
<% else %>
    <%= render 'course', :certificate => @certificate, :certifiable => @certifiable %>
<% end %>
        </p>
    </div>
    <div id="foot">
        <p class="vcenter">N. <%= @certificate.uuid.upcase %></p>
    </div>
</div>


