<div id="wrap" class="hcenter">
    <div id="head">

    </div>
    <div id="content_head">
        <h1 class="hcenter">CERTIFICADO</h1>
    </div>
    <div id="content">
        <p class="hcenter">A IT Cursos certifica a participação de <strong><%= @certifiable.name.upcase %></strong> no evento <strong><%= @certificate.event.upcase %></strong>, com carga horária total de <strong>10 horas</strong>,  realizado no período de <strong>18 de agosto de 2012</strong>, em Natal/RN<% if @certificate.certifiable_type == "Lecturer" %>, na qualidade de <strong>PALESTRANTE</strong> com a seguinte palestra: <strong><%= @certificate.lecture.upcase%></strong><% end %>.</p>
    </div>
    <div id="foot">
            <p class="vcenter">N. <%= @certificate.uuid.upcase %></p>
    </div>
</div>


