body {
    height: 200mm;
    width: 287mm;
    text-align: center;
    /* to centre page on screen*/
}

strong {
    font-weight: bold;
    TEXT-TRANSFORM: uppercase;
}

.vcenter {
    display: table-cell;
    vertical-align:middle;
}

.hcenter {
    margin-left: auto;
    margin-right: auto;
}


#wrap {
    background: url('/assets/bg_certificate.png') no-repeat;
    height: 200mm;
    width: 287mm;
}

#wrap {
    background-color: #fdfdfd;
}

#head {
    height: 65mm;
    width: 287mm;

}

#content_head {
    height: 30mm;
    width: 287mm;

}

h1 {
    font-weight: bold;
    font-size: 12mm;
}

#content {
    height: 85mm;
    width: 287mm;

    display: table;
}

#content p {
    font-family: verdana;
    font-size: 7mm;
    line-height: 8mm;
    width: 270mm;
}

#foot {
    display: table;
    height: 20mm;
    width: 287mm;
    background-color: black;

}

#foot p {
    text-align: right;
    color: white;
    padding-right: 5mm;
}

h2 {
    font-weight: bold;
    font-size: 6mm;
}

div#topics {
    margin-top: 10mm;
}

div#topics ul {
    margin-top: 10mm;
    list-style-position: inside;
    list-style-type: square;
}

div#topics ul li {
    font-size: 6mm;
    text-align: left;
}

div.column_offset {
    float: left;
    width: 50mm;
}

div.column {
  float: left;
  width: 100mm;
}

br {
  clear: left;
}