<h2>Cole aqui os dados do Excel</h1>
<div id="dataTable" class="dataTable"
data-attributes="name,email,phone,resume,event,duration,lecture"
data-end="3"></div>

<button class="submit">Enviar</button>
<br /><br />
<%= link_to 'Voltar', lecturers_path %>
<form action="<%= lecturers_import_path %>" id="import_data" method="POST">
</form>
